@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/solar.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1000px;
}
